---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <Hero />
  </main>
</Layout>

<style>
  main {
    @apply w-3/4 m-auto;
  }
</style>
